body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}
.active {
	margin-left: 10px;
}
.first-column {
  width: 40%;
  float: left;
}

.second-column {
  width: 40%;
  float: right;
}

footer {
	margin: 30px 0;
}

